
<!-- NAVIGATION BAR -->



  ul {
            list-style-type:none;
            margin:0;
            padding:0;
            overflow: hidden;
            background-color:green;
            }
            li {
                float:right;
                    }
            li a {
                    display:block;
                    color:white;
                    text-align:center;
                    padding:14px 16px;
                    text-decoration:none;
                    }
            list a:hover {
                            background-color:yellow;
                            }

<!-- NAVIGATION BAR -->



<!-- CONTACT FORM -->

* {box-sizing: border-box;}

input[type=text], select, textarea {
   background-color:white;
  width: 100%;
  padding: 12px;
  border: 0px solid ;
  border-radius: 5px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

input[type=submit] {
  background-color: green;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  width: 100%;
}

input[type=submit]:hover {
  background-color: yellow;
}

.container {
  border: 0px solid;
  width:85%;
  margin: 20px auto;
  border-radius: 0px;
  background-color:mediumseagreen;
  padding: 10px;
}
</style>
<!-- CONTACT FORM -->
